/* ----------------------------------------------------------------
	hero image block
------------------------------------------------------------------*/

#heroImage-block {
    margin-top: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), url(../images/hero-image.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#hero-text {
    color: #EF5B48;
    text-align: center;
    margin: 0 auto;
    float: none;
    padding-top: 170px;
    line-height: 100%;
}

#hero-text-longread {
    line-height: 150%;
    color: #333333;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    float: none;
    padding-bottom: 100px;
}

@media (max-width: 575px) {}

@media (min-width: 576px) {
    #hero-text-longread {
        max-width: 70%;
    }
}

@media (min-width: 768px) {
    #hero-text-longread {
        max-width: 600px;
    }
}

@media (min-width: 992px) {}