.trainer-name{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.trainer-post{
    font-size: 18px;
    color: #989898;
    font-weight: 400;

}

.trainer-experience-title{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.trainer-experience{
    font-size: 18px;
    color: #989898;
    font-weight: 400;

}

.trainer-teaching-title{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;

}

.trainer-teaching{
    font-size: 18px;
    color: #989898;
    font-weight: 400;

}

#linkedin-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}