#success-stories{
    height: 940px;
    background: url(images/success_stories_bg.svg) no-repeat center;
    background-size: 100%;
}

#success-stories-block{
    font-family: 'Raleway' !important;
    margin: 0 auto;
    width: 100%;
    max-width: 1480px;
    margin-top: 184px;
    display: flex;
    height: 100%;
    justify-content: center;
}

#success-stories-img-block{
    max-width: 360px;
    width: 100%;
    margin-left: 50px;
    display: flex;
    align-items: flex-end;
}

#success-stories-text-block{
    max-width: 1071px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#success-stories-title{
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
}

#success-stories-text{
    font-size: 21px;
    line-height: 27px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
}

#success-stories-table{
    font-size: 21px;
    line-height: 27px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
}

tr.success-stories-student{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1071px;
    width: 100%;
}


tr td:nth-child(1) {
    padding-right: 15px;
} 

tr td:nth-child(2) {
    max-width: 280px;
    width: 100%;
    padding-right: 89px;
}    
ul{
    list-style-type: none;
}



@media (max-width: 1440px) {
    #success-stories-block{
        margin: 0 auto;
        max-width: 1220px;
        margin-top: 40px;
        padding-left: 50px;
    }
    
    #success-stories-img-block{
        max-width: 290px;
        margin-left: -75px;
        margin-bottom: 100px;
    }
    
    #success-stories-text-block{
        max-width: 930px;
    }
    
    #success-stories-title{
        font-size: 24px;
        line-height: 28px;
    }
    
    #success-stories-text{
        font-size: 18px;
        line-height: 23px;
    }
    tr td:nth-child(2) {
        max-width: 230px;
        width: 100%;
        padding-right: 40px;
    }
    
}


@media (max-width: 1200px) {
    #success-stories-block{
        margin: 0 auto;
        max-width: 1220px;
        margin-top: 40px;
        padding-left: 50px;
    }
    
    #success-stories-img-block{
        max-width: 290px;
        margin-left: -210px;
        margin-bottom: 100px;
    }
    
    #success-stories-text-block{
        max-width: 930px;
    }
    
    #success-stories-title{
        font-size: 18px;
        line-height: 28px;
    }
    
    #success-stories-text{
        font-size: 18px;
        line-height: 23px;
    }
    tr td:nth-child(2) {
        max-width: 202px;
        width: 100%;
        padding-right: 40px;
    }
    
}

@media (max-width: 420px) {

    #success-stories-block{
        margin-top: 0;
        margin-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #success-stories-block{
        padding-top: 40px;
        max-width: 300px;
        width: 100%;
        margin-left: 0px;
    }
    
    #success-stories-text-block{
        max-width: 320px;
    }

    #success-stories-title{
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 21px;
    }
    
    #success-stories-text{
        font-size: 14px;
        line-height: 18px;
    }
    #success-stories-table {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }
    
    
}