
.about_us_main_block{
    max-width: 900px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.about_us_titles{
    font-size: 36px;
    line-height: 42px;
    color: #F66F5D;
    margin-bottom: 24px;
    
}

.about_us_text{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 60px;

}

.about_us_line{
    border: 1px solid #F66F5D;
}

.about_us_italic{
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 27px;
}

#about_us_quotation1{
    max-width: 517px;
    width: 100%;
    margin: 12px auto;
}

#about_us_quotation2{
    max-width: 251px;
    width: 100%;
    margin: 12px auto;
}

#about_us_quotation3 {
    max-width: 750px;
    width: 100%;
    margin: 12px auto;
}

#about_us_img{
    margin-bottom: 34px;
}

/*-----mobile version------*/

@media screen and (max-width: 600px) {
    div#about_us_content{
        padding-left: 27px;
        padding-right: 27px;
    }
    .about_us_main_block{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
    }

    .write_to_us-block {
        width: auto;
        margin-right: -27px !important;
        margin-left: -27px !important;
    }

    .about_us_titles{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 14px;
    }

    .about_us_text{
        margin-left: auto;
        margin-right: auto;
        font-size:  14px;
        line-height: 21px;
        margin-bottom: 36px;
    
    }

    .about_us_italic{
        font-size: 14px;
        line-height: 21px;
    }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
    div#about_us_content{
        padding-left: 47px;
        padding-right: 47px;
    }

    .write_to_us-block {
        width: auto;
        margin-right: -27px !important;
        margin-left: -27px !important;
    }
}
