/* ----------------------------------------------------------------
	write to us
------------------------------------------------------------------*/
.write_to_us-block {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    max-width: 858px;
    width: 100%;
    padding-bottom: 60px;
    background: linear-gradient(105.97deg, #FEB692 0%, #EA5455 100%);
}

.write_to_us-error-message {
    color: #FF2828;
    font-size: 14px;
    font-weight: 500;
}

.write_to_us-title-form {
    padding-top: 45px;
    margin-bottom: 65px;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}

#write_to_us-block-small {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.write_to_us-name {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
}

.write_to_us-name-line {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}

.write_to_us-phone {
    width: 100%;
    margin-top: 40px;
    background-color: transparent;
    color: #FFFFFF;
}

.write_to_us-phone-line {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}


.write_to_us-comment {
    margin-top: 40px;
    width: 100%;
    min-height: 21px;
    background-color: transparent;
    color: #FFFFFF;
    resize: none;
    border: none;
    overflow: hidden;
}

.write_to_us-comment-line {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}

.write_to_us-personal-data {
    margin-top: 45px;
    width: 53%;
    color: #FFFFFF;
    font-weight: normal;
}

.write_to_us-button-send {
    margin-top: 45px;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    max-height: 56px;

    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;

    color: #FFFFFF;
}

.write_to_us-button-send:hover {
    background-color: white;
    border: 1px solid #FFFFFF;
    color: #EA5455;
}

@media (max-width: 767px) {
    .write_to_us-personal-data {
        width: 100%;
    }

    .form-group {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .write_to_us-personal-data {
        width: 53%;
    }

    .form-group {
        justify-content: space-between;
    }
}

#button_text {
    font-weight: bold;
}


/*
input[type=text] {
    border: none;
    font-size: 16px;
}
*/

input[type=text] {
    border-bottom: 1px solid #ffffff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 18px;
    color: #FFFFFF;
}

input[type=number] {
    border-bottom: 1px solid #ffffff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 18px;
    color: #FFFFFF;
}

::placeholder {
    font-size: 16px;
}



input::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}

textarea::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

textarea:-moz-placeholder {
    color: rgb(255, 255, 255);
}



.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    margin-top: 40px;
    color: #FFFFFF;
}

.textarea[contenteditable]:empty::before {
    content: "Коментар";
}

.write_to_us-block-thanks {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    max-width: 858px;
    width: 100%;
    padding-bottom: 60px;
    background: linear-gradient(105.97deg, #FEB692 0%, #EA5455 100%);
    min-height: 494px;
}

#write_to_us-done-img {
    padding-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.write_to_us-thanks-top-text {
    text-align: center;
    color: #FFFFFF;
    padding-top: 45px;
}

.write_to_us-thanks-bottom-text {
    text-align: center;
    color: #FFFFFF;
    padding-top: 90px;
}

.write_to_us-field {
    width: 100%;
    background-color: transparent;
    color: #120C04;
}

#comment_line {
    margin-top: 0px;
    border-width: 1px;
    border-color: #ffffff;
    margin-bottom: 0px;
}

.form-group.col-sm-6 {
    padding-left: 0px;
    padding-bottom: 0px;
    max-width: 280px;
}

