/* ----------------------------------------------------------------
	why we block
------------------------------------------------------------------*/
#why_we-box{
	margin-top: 180px;
	color: #333333;
	font-family: Montserrat;
	font-style: normal;
}
#why_we-card-box{
	margin-top: 100px;
}

.why_we-number{
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	color: #F66F5D;
	padding-top: 20px;
	padding-bottom: 20px;
}

.why_we-subtitle{
	margin-top: 12px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #333333;	
}

.why_we-text{
	margin-top: 15px;
	font-size: 18px;
	line-height: 22px;
}