body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #E8E8E8;
}

.sidebar-toggle {
  margin-left: -240px;
}

.sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}

.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar #leftside-navigation ul li.active>a {
  font-weight: bold;
}

/*
.sidebar #leftside-navigation ul li.active>.arrow {
  transform: rotateZ(90deg);
}
*/
.sidebar .active .arrow {
  transform: rotateZ(90deg);
}


.sidebar #leftside-navigation ul li.active ul {
  display: block;
}

.sidebar #leftside-navigation ul li a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 8px 0 8px 25px;
  font-size: 16px;
  font-family: Raleway, sans-serif;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

/*
.sidebar #leftside-navigation ul li a:hover {
  color: rgb(135, 180, 130);
}
*/

.sidebar #leftside-navigation ul li a span {
  display: inline-block;
  font-family: Raleway, sans-serif;
}

.sidebar #leftside-navigation ul li a i {
  width: 20px;
}

.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}

.sidebar #leftside-navigation ul ul {
  display: none;
}

.sidebar #leftside-navigation ul ul li {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}

.sidebar #leftside-navigation ul ul li a {
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: black;
}

.menu-item-BA {
  background: linear-gradient(120.52deg, #FEB692 0%, #EA5455 100%);
}

.menu-sub-item-BA {
  background: linear-gradient(120.52deg, #FEB692 0%, #eb9393 100%);
}

.menu-item-QA {
  background-color: #E8E8E8;
  display: block;
}

.menu-sub-item-QA {
  /*
  background: linear-gradient(120.52deg, #ABDCFF 0%, #60bcfd 100%);
  */
  list-style-type: none;
  
}

.menu-item-PM {
  background: linear-gradient(120.52deg, #CE9FFC 0%, #7367F0 100%);
}

.menu-sub-item-PM {
  background: linear-gradient(120.52deg, #CE9FFC 0%, #9e96f3 100%);
}

.tab a.active {
  /*
  background-color: orange;
  */
  /*
  font-weight: bold;
  */
  background: #F66F5D;
  color: #222222;
}

.tab a.active:hover {
  background: #F66F5D;
  color: #222222;
}

.arrow {
  margin-right: 10px;
}
































.accordion {
  font-size: 16px;
  font-family: Raleway, sans-serif;
}
.accordion__answer {
  display: none;

}
.accordion__item {
  margin-bottom: 1px;
}
.accordion__question {
  position: relative;
  padding: 8px 15px 8px 28px;
  cursor: pointer;
  color: #222222;
  font-family: Raleway, sans-serif;
}
.accordion__question::before {
  content: "";
  display: inline-block;
  border: solid rgb(255, 255, 255);;
  border-width: 0 2px 2px 0;
  padding: 3px;
  position: absolute;
  top: 40%;
  left: 12px;
  transform: rotate(-45deg);
  transition: transform 0.2s linear;
}

.expanded.accordion__question::before {
  content: "";
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  /*
  padding: 3px;
  position: absolute;
  top: 50%;
  left: 12px;
  */
  transform: rotate(45deg);
  transition: transform 0.2s linear;
}