/* ----------------------------------------------------------------
	cources block
------------------------------------------------------------------*/
#cources-block {
    margin-top: 100px;
}

#cources-cards-block {
    margin-top: 50px;
    flex-direction: row;
}

.courses-block-a{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.cources-cards-flex{
    display: flex;
}

.cources-qa-block {
    transition: 350ms;
    transition-timing-function: linear;
    background: #E8E8E8;
    display: flex;
    flex-direction: column;
}

.cources-title {
    line-height: 56px;
    align-items: center;
}

.line{
    margin-bottom: 0px;
    margin-top: 0px;
}

.cources-qa-block:hover {
    -ms-transform: translate(0px, -8px);
    /* IE 9 */
    transform: translate(0px, -8px);
    /* Standard syntax */
    box-shadow: 8px 8px 8px #cfcfcf;
    transition: 350ms;
    transition-timing-function: ease-out;
    color: #222222;
}

.cources-cards-buttons-block{
    display: flex;
    flex: 1 0 auto;
}

#cources-cards-buttons {
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 15px;
    white-space: nowrap;
    color: #222222;
    margin-left: 10px;

    display: flex;
    align-items: flex-end;
}


.cources-qa-block-title {
    text-align: center;
    line-height: 130%;
    letter-spacing: 0.02em;
    padding-top: 20px;
    color: #222222;
    margin-bottom: 0px;
    padding-bottom: 15px;
    background-color:#F66F5D ;
}

.cources-qa-text {
    margin-top: 22px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 150%;
    color: #222222;
    font-size: 18px;
}

.cources-sub-title {
    color: #FFFFFF;
    background-color: #F66F5D;
    padding-left: 10px;
}

.cources-text-block {
    padding-left: 10px;
}