#cards-block{
    font-family: 'Raleway' !important; 
    margin: 0 auto;
    width: 100%;
    max-width: 1490px;
    margin-top: 144px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

#cards-img-block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#cards-text-block{
    width: 100%;
    margin-bottom: 113px;
}

#cards-title{
    margin-bottom: 109px;
    font-size: 42px;
    line-height: 49px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.course-card{
    margin-bottom: 30px;
}


@media (max-width: 1440px) {
    #cards-block{
        margin-top: 260px;
        max-width: 1110px;
    }
    #cards-title{
        margin-bottom: 113px;
        font-size: 36px;
        line-height: 42px;
        font-weight: 700;
    }
}