/* ----------------------------------------------------------------
	feedback
------------------------------------------------------------------*/

.feedback-block{
	position: absolute;
	width: 1440px;
	height: 660px;
	left: 0px;
	top: 2475px;
	
	background: #F3F3F3;	
}
.feedback-title{
	position: absolute;
	width: 475px;
	height: 56px;
	left: 483px;
	top: 2515px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	display: flex;
	align-items: center;
	
	color: #333333;	
}
.feedbak-block-name{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px 10px 10px 30px;
	
	position: absolute;
	width: 640px;
	height: 10px;
	left: 619px;
	top: 2644px;
	
}
.feedback-name{
	position: static;
	width: 169px;
	height: 0px;
	left: 30px;
	top: 0px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 0%;
	/* identical to box height, or 0px */
	
	display: flex;
	align-items: center;
	
	color: #333333;
	
}
.feedback-linked{
	position: static;
	width: 74px;
	height: 0px;
	left: 30px;
	top: 10.5px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 0%;
	/* identical to box height, or 0px */
	
	display: flex;
	align-items: center;
	text-transform: capitalize;
	
	color: #014182;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 10px 0px;	
}
.feedback-facebook{
	position: absolute;
	width: 85px;
	height: 0px;
	left: 126px;
	top: 10.5px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 0%;
	/* identical to box height, or 0px */
	
	display: flex;
	align-items: center;
	text-transform: capitalize;
	
	color: #014182;	
}
.feedback-mail{
	position: absolute;
	width: 55px;
	height: 0px;
	left: 233px;
	top: 10.5px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 0%;
	/* identical to box height, or 0px */
	
	display: flex;
	align-items: center;
	text-transform: capitalize;
	
	color: #014182;	
}
.feedback-phone{
	position: absolute;
	width: 130px;
	height: 0px;
	left: 310px;
	top: 10.5px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 0%;
	/* identical to box height, or 0px */
	
	display: flex;
	align-items: center;
	text-transform: capitalize;
	
	color: #014182;	
}
.feedback-foto{
	position: absolute;
	width: 421px;
	height: 421px;
	left: 181px;
	top: 2636px;
	
	background: url(../images/feedback_foto1.png);	
}
.feedback-block-social{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 10px 0px 30px;
	
	position: absolute;
	width: 640px;
	height: 21px;
	left: 619px;
	top: 2664px;
}
.feedback-block-additional-social{
	position: static;
	width: 326px;
	height: 21px;
	left: 114px;
	top: 0px;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 10px 0px;

}

.feedback-block-text{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px 0px 10px 30px;

	position: absolute;
	width: 640px;
	height: 135px;
	left: 619px;
	top: 2705px;	
}
.feedback-text{
	position: static;
	width: 610px;
	height: 135px;
	left: 30px;
	top: 0px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	/* or 27px */
	
	
	color: #000000;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 0;
	flex-grow: 1;
	margin: 10px 0px;	
}
.feedback-block-cource-name{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 40px 10px 10px 30px;
	
	position: absolute;
	width: 640px;
	height: 50px;
	left: 619px;
	top: 2840px;
}
.feedback-cource{
	position: static;
	width: 285px;
	height: 0px;
	left: 30px;
	top: 40px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 0%;
	/* identical to box height, or 0px */
	
	display: flex;
	align-items: center;
	
	color: #F66F5D;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 10px 0px;	
}
.feedback-block-left-arrow{
	position: static;
	width: 24px;
	height: 24px;
	left: 30px;
	top: 3px;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 4px 0px;
}
.feedback-block-right-arrow{
	position: static;
	width: 24px;
	height: 24px;
	left: 616px;
	top: 3px;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 4px 0px;
}
.feedback-block-arrows{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0px 0px 0px 30px;
	
	position: absolute;
	width: 640px;
	height: 27px;
	left: 619px;
	top: 3030px;
}
.feedback-arrow-left{
	position: absolute;
	left: 29.38%;
	right: 29.37%;
	top: 14.65%;
	bottom: 14.65%;
	
	/* 3 */
	
	background: #333333;	
}
.feedback-number{
	position: static;
	width: 33px;
	height: 27px;
	left: 318.5px;
	top: 0px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	/* identical to box height, or 27px */
	
	
	color: #000000;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 4px 0px;	
}
.feedback-arrow-right{
	position: absolute;
	left: 70.63%;
	right: -11.88%;
	top: 85.35%;
	bottom: -56.06%;
	
	background: #333333;
	transform: rotate(-180deg);	
}
