#offer-obtention-main-block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#offer-obtention-text-block{
    display: flex;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#offer-obtention-text-duration{
    color: #F66F5D !important;
}