.trainer-post{
    font-size: 18px;
    color: #989898;
    font-weight: 400;

}

.trainer-experience-title{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.trainer-experience{
    font-size: 18px;
    color: #989898;
    font-weight: 400;

}

.trainer-teaching-title{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;

}

.trainer-teaching{
    font-size: 18px;
    color: #989898;
    font-weight: 400;

}

