/* ----------------------------------------------------------------
	write to us
------------------------------------------------------------------*/
.write_to_us-block {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    max-width: 860px;
    width: 100%;
    padding-bottom: 10px;
    background-color: #E8E8E8;
}

.write_to_us-error-message {
    color: #FF2828;
    font-size: 14px;
    font-weight: 500;
}

.write_to_us-title-form {
    padding-top: 50px;
    margin-bottom: 65px;
    font-size: 36px;
    text-align: center;
    color: #222222;
}

#write_to_us-block-small {
    max-width: 640px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.write_to_us-name {
    width: 100%;
    background-color: transparent;
    color: #222222;
}

.write_to_us-name-line {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #212121;
}

.write_to_us-phone {
    width: 100%;
    margin-top: 40px;
    background-color: transparent;
    color: #222222;
}

.write_to_us-phone-line {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #212121;
}


.write_to_us-comment {
    margin-top: 40px;
    width: 100%;
    min-height: 21px;
    background-color: transparent;
    color: #222222;
    resize: none;
    border: none;
    overflow: hidden;
}

.write_to_us-comment-line {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #212121;
}

.write_to_us-personal-data {
    margin-top: 45px;
    width: 53%;
    color: #222222;
    font-weight: normal;
}

.write_to_us-button-send {
    margin-top: 45px;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    max-width: 200px;
    max-height: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #212121;
    box-sizing: border-box;

    color: #222222;
}

.write_to_us-button-send:hover {
    background-color: #212121;
    border: 1px solid #212121;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    #div-phone, #div-email {
        padding-bottom: 30px;
        max-width: 354px !important;
        width: 100%;
    }

    .iti.iti--allow-dropdown{
        max-width: 354px;
        width: 100%;
    }

    #write_to_us-block-small {
        max-width: 354px;
    }

    .write_to_us-personal-data {
        width: 100%;
    }

    .form-group {
        display: block !important;
    }

    
}


@media (max-width: 900px){
    
    .iti.iti--allow-dropdown{
        max-width: 280px;
        width: 100%;
    }

     #write_to_us-thanks-block{
        margin-left: -15px;
        margin-right: -15px;
    }
     
    .write_to_us-block-thanks{
        width: auto;
        margin-right: -15px;
        margin-left: -15px;
    }
    .write_to_us-block{
        width: auto;
        margin-right: -15px;
        margin-left: -15px;
        }
    .write_to_us-button-send {
        display: block;
        margin: 30px auto;
        padding: 10px 45px;
        -webkit-appearance: none;
        -moz-appearance:none;
    }


    input[type=text] {
        font-size: 14px;
        border-radius: 0;
        -webkit-border-radius:0px;
    }

    input[type=tel] {
        font-size: 14px;
        border-radius: 0;
        -webkit-border-radius:0px;
    }
    ::placeholder {
        font-size: 14px;
    }


}

@media (min-width: 900px) {
    .write_to_us-personal-data {
        width: 53%;
    }

    .form-group {
        justify-content: space-between;
    }
    input[type=text]{
        font-size: 18px;
    }
    input[type=tel] {
        font-size: 18px;
    }
    ::placeholder {
        font-size: 18px;
    }

}

#button_text {
    font-weight: bold;
}


/*
input[type=text] {
    border: none;
    font-size: 16px;
}
*/

input[type=text] {
    border-bottom: 1px solid #212121;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #222222;
}

input[type=tel] {
    border-bottom: 1px solid #212121;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #222222;
}


#comment-counter{
    display: block;
}

input::-webkit-input-placeholder {
    color: #222222;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #222222;
}

textarea::-webkit-input-placeholder {
    color: #222222;
}

textarea:-moz-placeholder {
    color: #222222;
}



.textarea {
    display: block;
    width: 100%;
    max-width: 640px;
    overflow: hidden;
    resize: both;
    margin-top: 10px;
    color: #222222;
}

#comment_input p,span{
    background-color: transparent !important; 
    color: #222222 !important;

}

.textarea[contenteditable]:empty::before {
    content: "Коментар";
}

.write_to_us-block-thanks {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    max-width: 860px;
    width: 100%;
    padding-bottom: 60px;
    background: #F0F0F0;
    min-height: 494px;
}

#write_to_us-done-img {
    padding-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.write_to_us-thanks-top-text {
    text-align: center;
    color: #222222;
    padding-top: 45px;
}

.write_to_us-thanks-bottom-text {
    text-align: center;
    color: #222222;
    padding-top: 90px;
}

.write_to_us-field {
    width: 100%;
    background-color: transparent;
    color: #120C04;
}

#comment_line {
    margin-top: 0px;
    border-width: 1px;
    border-color: #212121;
    margin-bottom: 0px;
}

.form-group.col-sm-6 {
    padding-left: 0px;
    padding-bottom: 0px;
    max-width: 280px;
}

#div-name,#div-phone-email,#div-comment,#div-data-button{
    margin-left: 0;
    margin-right: 0;
}

#div-phone,#div-email {
    padding-bottom: 30px;
    max-width: 280px;
    width: 100%;
}

#div-name{
    padding-bottom: 0px;
}

.form-group.col-12.col-sm-12.pr-0{
    padding-bottom: 20px;
}