#cards-block{
    font-family: 'Raleway' !important; 
    margin: 0 auto;
    width: 100%;
    max-width: 1310px;
    margin-top: 144px;
    display: flex;
    height: 100%;
    justify-content: center;
}

#cards-img-block{
    max-width: 600px;
    width: 100%;
    margin-right: 200px;
}

#cards-text-block{
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cards-title{
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
}



