/* ----------------------------------------------------------------
	hero image block
------------------------------------------------------------------*/

#heroImage-block {
    margin-top: 0px;
    background-color: #2C2A3F;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#hero-text {
    font-size: 64px;
    line-height: 75px;
    color: #F66F5D;
    text-align: left;
    margin: 0 auto;
    float: none;
    padding-top: 170px;
    /*line-height: 100%; */
}

#hero-text-longread {
    font-size: 32px;
    padding-top: 15px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    float: none;
    padding-bottom: 180px;
}

@media (max-width: 575px) {}

@media (min-width: 576px) {
    #hero-text-longread {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    #hero-text-longread {
       max-width: 100%;
    }
}

@media (min-width: 992px) {}