.trainer{
    padding-left: 8px;
    padding-right: 8px;
}

.trainer-info{
    margin-top: 20px;
    margin-bottom: 30px;
}

.trainer-teaching-experience{
    margin-top: 20px;
}

.trainer-name{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.trainer-post{
    font-size: 18px;
    color: #989898;
    font-weight: 400;

}

.trainer-experience-title{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.trainer-experience{
    font-size: 18px;
    color: #989898;
    font-weight: 400;

}

.trainer-teaching-title{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.trainer-teaching{
    font-size: 18px;
    color: #989898;
    font-weight: 400;

}

#linkedin-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}