.privacy_policy_main_block {
    max-width: 900px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.privacy_policy_title_text{
    line-height: 1.5;
    text-indent: 20px;
}

.privacy_policy_content{
    padding-left: 27px;
    padding-right: 27px;
}

.privacy_policy_main_block p{
    text-indent: 20px;
}
.policy_a_list{
    margin-left: 50px;
}
.privacy_list{
    margin-left: 30px;
}
.privacy_qax_link{
    color: #E8E8E8;
}
.privacy_qax_link:hover{
   color: #EF5B48; 
}
