#success-stories{
    background: url(images/success_stories_bg.svg) no-repeat center;
    background-size: 100%;
}

.success-stories-linkedin{
    display: block;
    width: 23px;
    height: 23px;
    background: url(icons/LinkedIn.svg);
    background-size: 23px;
}

.success-stories-linkedin:hover{
    display: block;
    width: 23px;
    height: 23px;
    background: url("icons/LinkedIn_hover.svg");
    background-size: 23px;
}


#success-stories-block{
    font-family: 'Raleway' !important;
    margin: 0 auto;
    width: 100%;
    max-width: 1480px;
    margin-top: 184px;
    display: flex;
    height: 100%;
    justify-content: center;
}

.success-stories-red{
    font-weight: bold;
    color: #F66F5D !important;
}

.success-stories-bold{
    font-weight: bold;
}

#success-stories-img-block{
    max-width: 360px;
    width: 100%;
    margin-left: 50px;
    display: flex;
    align-items: flex-end;
}

#success-stories-text-block{
    max-width: 1071px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#success-stories-title{
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
}

#success-stories-text{
    font-size: 21px;
    line-height: 27px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
}

.success-stories-table{
    font-size: 21px;
    line-height: 27px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
}

tr.success-stories-student{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1071px;
    width: 100%;
}


tr td:nth-child(1) {
    padding-right: 15px;
} 

tr td:nth-child(2) {
    font-weight: bold;
    max-width: 280px;
    width: 100%;
    padding-right: 89px;
}    
ul{
    list-style-type: none;
}


.spoiler_body { 
    display: none; 
}

.spoiler_links{
    padding: 10px 25px;

    width: 175px;
    height: 41px;

    border: 1.5px solid #E9E8EA;
    border-radius: 3px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #E9E8EA;
}

.spoiler_links:hover {
    background: #E9E8EA;
    color: #3E3B5E;
    border-color: #E9E8EA;
}

.spoiler_links:focus {
    background: #E9E8EA;
    color: #3E3B5E;
    border-color: #E9E8EA;
}



@media (max-width: 1440px) {
    #success-stories-block{
        margin: 0 auto;
        max-width: 1220px;
        margin-top: 40px;
        padding-left: 50px;
    }
    
    #success-stories-img-block{
        max-width: 290px;
        margin-left: -75px;
        margin-bottom: 100px;
    }
    
    #success-stories-text-block{
        max-width: 930px;
    }
    
    #success-stories-title{
        font-size: 24px;
        line-height: 28px;
    }
    
    #success-stories-text{
        font-size: 18px;
        line-height: 23px;
    }
    tr td:nth-child(2) {
        max-width: 230px;
        width: 100%;
        padding-right: 40px;
    }
    
}


@media (max-width: 1200px) {
    #success-stories-block{
        margin: 0 auto;
        max-width: 1220px;
        margin-top: 40px;
        padding-left: 50px;
    }
    
    #success-stories-img-block{
        max-width: 290px;
        margin-left: -210px;
        margin-bottom: 100px;
    }
    
    #success-stories-text-block{
        max-width: 930px;
    }
    
    #success-stories-title{
        font-size: 18px;
        line-height: 28px;
    }
    
    #success-stories-text{
        font-size: 18px;
        line-height: 23px;
    }
    tr td:nth-child(2) {
        max-width: 202px;
        width: 100%;
        padding-right: 40px;
    }
    
}

@media (min-width: 769px) and (max-width: 1200px) {
    tr td:nth-child(1) {
        padding-right: 12px;
        border: none;
        width: 34px;
        height: 30px;
    }
    tr.success-stories-student {
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        max-width: 1071px;
        width: 100%;
        flex-wrap: wrap;
    }

    tr td:nth-child(2) {
        max-width: 366px;
        margin-bottom: 8px;
        width: 100%;
        padding-right: 40px;
    }

    .success-stories-linkedin{
        width: 21px;
        height: 21px;
        background-size: 21px;
    }

    #success-stories-text{
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 21px;
    }
    .success-stories-table{
        font-size: 18px;
        line-height: 21px;
    }
    #success-stories-img-block{
        max-width: 250px;
        margin-left: -210px;
        margin-bottom: 95px;
    }
}


@media (min-width: 460px) and (max-width: 768px) {
    tr td:nth-child(1) {
        padding-right: 12px;
        border: none;
        width: 34px;
        height: 30px;
    }
    tr.success-stories-student {
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        max-width: 1071px;
        width: 100%;
        flex-wrap: wrap;
    }

    tr td:nth-child(2) {
        max-width: 366px;
        margin-bottom: 8px;
        width: 100%;
        padding-right: 40px;
    }

    .success-stories-linkedin{
        width: 21px;
        height: 21px;
        background-size: 21px;
    }

    #success-stories-text{
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 21px;
    }
    .success-stories-table{
        font-size: 16px;
        line-height: 21px;
    }
    #success-stories-block{
        margin-top: 0;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #success-stories-img-block {
        max-width: 150px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

}

@media (min-width: 220px) and (max-width: 459px) {
    .spoiler_links{
        padding: 10px 25px;
        width: 149px;
        height: 38px;
        border: 1.5px solid #E9E8EA;
        border-radius: 3px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #E9E8EA;
    }
    .success-stories-linkedin{
        width: 16px;
        height: 16px;
        background-size: 16px;
    }
    

    #success-stories{
        background: url(images/success_stories_bg.svg) no-repeat center;
        background-size: cover;
    }

    #success-stories-block{
        margin-top: 0;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #success-stories-block{
        padding-top: 40px;
        width: 100%;
        margin-left: 0px;
    }
    
    #success-stories-text-block{
        max-width: 320px;
    }

    #success-stories-title{
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 21px;
    }
    
    #success-stories-text{
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 18px;
    }
    .success-stories-table {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }
    tr.success-stories-student {
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 320px;
        width: 100%;
    }

    #success-stories-img-block {
        max-width: 500px;
        margin-left: 0px;
        margin-bottom: 0px;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #success-stories-img-block img{
        width: 150px;
    }

    tr td:nth-child(1) img{
        max-width: 16px;
    } 
    
    
}