@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

#offer-obtention-main-block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 100px;
    font-family: Raleway, sans-serif !important;
}

#offer-obtention-text-block{
    display: flex;
    color: #FFFFFF;
    font-family: Raleway, sans-serif !important;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#offer-obtention-text-duration{
    color: #F66F5D !important;
}

.offer-obtention-text{
    font-family: Raleway !important;
    white-space: nowrap;
}
#offer-obtention-text-block-mob{
    display: none;
}


@media (max-width:1245px){
    #offer-obtention-text-block{
        font-size: 36px;
    }
}

@media (max-width:1130px){
    #offer-obtention-text-block{
        font-size: 24px;
    }
}

@media (max-width:701px){
    #offer-obtention-text-block{
        display: none;
    }
    #offer-obtention-text-block-mob{
        display: block;
    }
}