/* ----------------------------------------------------------------
	write to us
------------------------------------------------------------------*/
.write_to_us-block {
    margin-left: auto;
    margin-right: auto;
    left:291px;
    width: 858px;
    height: 550px;
    background: linear-gradient(105.97deg, #FEB692 0%, #EA5455 100%);
}

.write_to_us-title {
    position: relative;
    width: 467px;
    height: 86px;
    left: 250px;
    top: 10px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    /* or 72px */


    color: #FFFFFF;
}

.write_to_us-block-block {
    position: relative;
    width: 858px;
    height: 550px;
    left: 291px;
    top: 2300px;
}

.write_to_us-name {
    position: relative;
    width: 162px;
    height: 27px;
    left: 100px;
    top: 60px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    background-color: transparent;
    color: #ffffff;
}

.write_to_us-name-line {
    position: relative;
    width: 640px;
    height: 0px;
    left: 100px;
    top: 60px;

    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}

.write_to_us-phone {
    position: relative;
    width: 413px;
    height: 27px;
    left: 100px;
    top: 120px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    background-color: transparent;
    color: #FFFFFF;
}

.write_to_us-phone-line {
    position: relative;
    width: 640px;
    height: 0px;
    left: 100px;
    top: 120px;

    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}

.write_to_us-comment {
    position: relative;
    width: 219px;
    height: 27px;
    left: 100px;
    top: 180px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    background-color: transparent;
    color: #FFFFFF;

}

.write_to_us-comment-line {
    position: relative;
    width: 640px;
    height: 0px;
    left: 100px;
    top: 180px;

    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}

.write_to_us-button-send {
    position: relative;
    width: 203px;
    height: 50px;
    left: 500px;
    top: 190px;

    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    
    
    /* identical to box height, or 27px */
    background-color: transparent;
    color: #FFFFFF;
}

.write_to_us-button-send-text {
    /* Відправити */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    line-height: 150%;
    position: relative;
    

    color: #FFFFFF;


    
}

.write_to_us-personal-data {
    position: relative;
    width: 358px;
    height: 42px;
    left: 100px;
    top: 230px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: #FFFFFF;
}




/* ----------------------------------------------------------------
	write to us on cources
------------------------------------------------------------------*/
.write_to_us-block-cources {
    position: relative;
    width: 858px;
    height: 550px;
    left: 291px;
    top: 1900px;

    background: linear-gradient(105.97deg, #FEB692 0%, #EA5455 100%);
}

.write_to_us-title-cources {
    position: relative;
    width: 467px;
    height: 86px;
    left: 487px;
    top: 1930px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    /* or 72px */


    color: #FFFFFF;
}

.write_to_us-block-block-cources {
    position: relative;
    width: 858px;
    height: 550px;
    left: 291px;
    top: 1900px;
}

.write_to_us-name-cources {
    position: relative;
    width: 162px;
    height: 27px;
    left: 400px;
    top: 2049px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #FFFFFF;
}

.write_to_us-name-line-cources {
    position: relative;
    width: 640px;
    height: 0px;
    left: 400px;
    top: 2091px;

    border: 1px solid #FFFFFF;
}

.write_to_us-phone-cources {
    position: relative;
    width: 413px;
    height: 27px;
    left: 400px;
    top: 2121px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #FFFFFF;
}

.write_to_us-phone-line-cources {
    position: relative;
    width: 640px;
    height: 0px;
    left: 400px;
    top: 2163px;

    border: 1px solid #FFFFFF;
}

.write_to_us-comment-cources {
    position: relative;
    width: 219px;
    height: 27px;
    left: 400px;
    top: 2193px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #FFFFFF;

}

.write_to_us-comment-line-cources {
    position: relative;
    width: 640px;
    height: 0px;
    left: 400px;
    top: 2235px;

    border: 1px solid #FFFFFF;
}

.write_to_us-button-send-cources {
    position: relative;
    width: 203px;
    height: 50px;
    left: 837px;
    top: 2280px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;

}

.write_to_us-button-send-text-cources {
    /* Відправити */

    position: relative;
    width: 114px;
    height: 27px;
    left: 882px;
    top: 2292px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    color: #FFFFFF;
}

.write_to_us-personal-data-cources {
    position: relative;
    width: 358px;
    height: 42px;
    left: 400px;
    top: 2280px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: #FFFFFF;
}

input[type=text] {
    border: none;
    
}
input::-webkit-input-placeholder { color: rgb(255, 255, 255); }
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}




/* ----------------------------------------------------------------
	write to us without ABSOLUTE
------------------------------------------------------------------*/
.write_to_us-title-form {
    margin-top: 15px;
    text-align: center;


    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    color: #FFFFFF;
}

.write_to_us-edit-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

    height: 40px;
    background: linear-gradient(105.97deg, #FEB692 0%, #EA5455 100%);
    font-size: 18px;
}