#resoult{
    height: 726px;
    background: url(images/resoult_bg.svg) no-repeat center;
    background-size: 100%;
}

#resoult-block{
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1370px;
    margin-top: 144px;
    display: flex;
    height: 100%;
    justify-content: center;
}

#resoult-img-block{
    padding-top: 70px;
    max-width: 600px;
    width: 100%;
    margin-right: 200px;
}

#resoult-text-block{
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resoult-title{
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
}

#resoult-text{
    font-size: 21px;
    line-height: 27px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
}

@media (max-width: 1440px) {
    #resoult{
        height: 600px;
    }
    #resoult-block{
        max-width: 1160px;
        margin-top: 125px;
    }
    
    #resoult-img-block{
        padding-top: 65px;
        max-width: 500px;
        margin-right: 148px;
    }
    
    #resoult-text-block{
        max-width: 500px;
    }
    
    #resoult-title{
        font-size: 24px;
        line-height: 28px;
    }
    
    #resoult-text{
        font-size: 18px;
        line-height: 23px;
    }
    
}

@media (max-width: 1200px) {
    #resoult{
        height: 600px;
    }
    #resoult-block{
        max-width: 1160px;
        margin-top: 125px;
    }
    
    #resoult-img-block{
        padding-top: 125px;
        max-width: 360px;
        margin-right: 90px;
    }
    
    #resoult-text-block{
        max-width: 500px;
    }
    
    #resoult-title{
        font-size: 24px;
        line-height: 28px;
    }
    
    #resoult-text{
        font-size: 18px;
        line-height: 23px;
    }
    
}

@media (max-width: 768px){

    #resoult-block{
        margin-top: 0px;
    }
    #resoult-title{
        font-size: 21px;
        line-height: 25px;
    }
    #resoult-text{
        font-size: 16px;
        line-height: 21px;
    }

    #resoult-img-block{
        padding-top: 125px;
        max-width: 250px;
        margin-right: 60px;
    }
    
    #resoult-text-block{
        max-width: 372px;
    }
}

@media (max-width: 420px) {
    #resoult {
        background-size: auto;
    }

    #resoult-block{
        margin-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        flex-flow: revert;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #resoult-img-block{
        padding-top: 40px;
        order: 2;
        max-width: 245px;
        width: 100%;
        margin-right: 0px;
    }
    
    #resoult-text-block{
        order: 1;
        max-width: 320px;
    }

    #resoult-title{
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 21px;
    }
    
    #resoult-text{
        font-size: 14px;
        line-height: 18px;
    }
    
    
}