.privacy_policy_main_block {
    max-width: 900px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.privacy_policy_title_text{
    line-height: 1.5;
}

.privacy_policy_main_block p{
    text-indent: 20px;
}