.cources_details {
    padding-top: 45px;
}

.table-topics {
    padding: 35px 0px 0px 0px;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-topics tbody tr:nth-child(odd) {
    background-color: #E8E8E8;
    font-weight: 600;
}

.table-topics th,
td {
    padding: 4px;
    padding-left: 15px;
    color: #000000;
}

.table-topics tbody tr:nth-child(even) {
    background-color: #F3F3F3;
}

.list, .list-in-list{
    margin-left: 20px;
}

.list-in-list-not-marked{
    list-style-type: none;
}
