.cources_details {
    padding-top: 45px;
}

.table-topics {
    padding: 35px 0px 0px 0px;
    font-size: 14px;
    font-family: Raleway;
    border-collapse: collapse;
    width: 100%;
}

.table-topics tbody tr:nth-child(odd) {
    background-color: #E8E8E8;
    font-weight: bold;
}

.table-topics th,
td {
    padding: 4px;
    padding-left: 15px;
}

.table-topics tbody tr:nth-child(even) {
    background-color: #F3F3F3;
}







/*
.cources_details-tab-info-block{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    
    position: absolute;
    width: 203px;
    height: 41px;
    left: 509px;
    top: 88px;
}
.cources_details-tab-info{

    position: static;
    width: 183px;
    height: 23px;
    left: 10px;
    top: 10px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #000000;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.cources_details-tab-program-block{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    
    position: absolute;
    width: 203px;
    height: 41px;
    left: 728px;
    top: 88px;
    
}
.cources_details-tab-program{
    position: static;
    width: 183px;
    height: 23px;
    left: 10px;
    top: 10px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #000000;
    
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 10px 0px;
}


.cources_details-accordion-block{
    padding-left: 50px;
}
.cources_details-accordion-block-ba{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 5px 5px 15px;

    position: static;
    width: 310px;
    height: 34px;
    left: 0px;
    top: 0px;


    background: linear-gradient(120.52deg, #FEB692 0%, #EA5455 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.cources_details-accordion-text-ba{
    position: static;
    width: 150px;
    height: 23px;
    left: 44px;
    top: 5px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;
}
.cources_details-accordion-arrow-block-ba{
    position: static;
    width: 24px;
    height: 24px;
    left: 15px;
    top: 5px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;

}
.cources_details-accordion-arrow-ba{
    position: absolute;
    left: 34.53%;
    right: 34.53%;
    top: 24.96%;
    bottom: 24.95%;
    
    background: #FFFFFF;
}










.cources_details-accordion-block-pm{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 5px 5px 15px;

    position: static;
    width: 310px;
    height: 34px;
    left: 0px;
    top: 244px;


    background: linear-gradient(120.52deg, #CE9FFC 0%, #7367F0 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 0px;
}
.cources_details-accordion-text-pm{
    position: static;
    width: 150px;
    height: 23px;
    left: 44px;
    top: 5px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;
}
.cources_details-accordion-arrow-block-pm{
    position: static;
    width: 24px;
    height: 24px;
    left: 15px;
    top: 5px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;

}
.cources_details-accordion-arrow-pm{
    position: absolute;
    left: 34.53%;
    right: 34.53%;
    top: 24.96%;
    bottom: 24.95%;
    
    background: #FFFFFF;
}




.cources_details-accordion-block-ux{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 5px 5px 15px;

    position: static;
    width: 310px;
    height: 34px;
    left: 0px;
    top: 278px;

    background: linear-gradient(120.52deg, rgba(107, 115, 255, 0.8) 0%, rgba(0, 13, 255, 0.8) 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 0px;
}
.cources_details-accordion-text-ux{
    position: static;
    width: 140px;
    height: 23px;
    left: 44px;
    top: 5px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;
}
.cources_details-accordion-arrow-block-ux{
    position: static;
    width: 24px;
    height: 24px;
    left: 15px;
    top: 5px;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;

}
.cources_details-accordion-arrow-ux{
    position: absolute;
    left: 34.53%;
    right: 34.53%;
    top: 24.96%;
    bottom: 24.95%;
    
    background: #FFFFFF;
}


.cources_details-accordion-block-hr{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 5px 5px 15px;

    position: static;
    width: 310px;
    height: 34px;
    left: 0px;
    top: 312px;

    background: linear-gradient(120.52deg, #F97794 0%, #623AA2 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 0px;
}
.cources_details-accordion-text-hr{
    position: static;
    width: 151px;
    height: 23px;
    left: 44px;
    top: 5px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;
}
.cources_details-accordion-arrow-block-hr{
    position: static;
    width: 24px;
    height: 24px;
    left: 15px;
    top: 5px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;

}
.cources_details-accordion-arrow-hr{
    position: absolute;
    left: 34.53%;
    right: 34.53%;
    top: 24.96%;
    bottom: 24.95%;
    
    background: #FFFFFF;
}


.cources_details-accordion-block-qa{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 5px 5px 15px;

    position: static;
    width: 310px;
    height: 34px;
    left: 0px;
    top: 34px;

    background: linear-gradient(120.52deg, #ABDCFF 0%, #0396FF 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}
.cources_details-accordion-text-qa{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    margin: 5px 0px;
}
.cources_details-accordion-arrow-block-qa{
    position: static;
    width: 24px;
    height: 24px;
    left: 15px;
    top: 5px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}
.cources_details-accordion-arrow-qa{
    position: absolute;
    left: 24.96%;
    right: 24.96%;
    top: 34.53%;
    bottom: 34.53%;
    
    background: #FFFFFF;
}


.cources_details-accordion-block-qa-detailes{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0px 10px 30px;
    
    position: static;
    width: 280px;
    height: 26px;
    left: 0px;
    top: 34px;
    
    background: #5BBAFF;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.cources_details-accordion-block-qa-detailes-about{
    position: static;
    width: 143px;
    height: 21px;
    left: 30px;
    top: 5px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;

    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 7px;    
}
.cources_details-accordion-block-qa-detailes-teoretical{
    position: static;
    width: 145px;
    height: 21px;
    left: 30px;
    top: 33px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;

    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 7px;    
}
.cources_details-accordion-block-qa-detailes-practical{
    position: static;
    width: 142px;
    height: 21px;
    left: 30px;
    top: 61px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;

    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 7px;    
}
.cources_details-accordion-block-qa-detailes-auto{
    position: static;
    width: 115px;
    height: 21px;
    left: 30px;
    top: 89px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    
    
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 7px;
}
.cources_details-accordion-block-qa-detailes-spec{
    position: static;
    width: 202px;
    height: 21px;
    left: 30px;
    top: 117px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
  
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 7px;    
}
.cources_details-accordion-block-qa-detailes-work{
    position: static;
    width: 154px;
    height: 21px;
    left: 30px;
    top: 145px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    
    
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 7px;
}






.cources_details-text{
    position: absolute;
    width: 860px;
    height: 792px;
    left: 509px;
    top: 170px;    

 
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    
    color: #333333;
}

.table-topics{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 35px 0px 0px 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;

    font-size: 14px;

    border-collapse: collapse;
}

.table-topics-caption{
    font-weight: bold;
    text-align: center;
    height: 100;
}
.table-topics td:first-child {
    text-align: center;
}

.table-topics tbody tr:nth-child(odd) {
    background-color: #ffc6a6;
}

.table-topics th, td {
    padding: 4px;
  }
    
.table-topics tbody tr:nth-child(even) {
    background-color: #ffe4d4;
}

*/