/* ----------------------------------------------------------------
	hero image block
------------------------------------------------------------------*/

#heroImage-block{
	margin-top: 0px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), url(../images/hero-image.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
#hero-text{
	font-family: Raleway;
	font-weight: bold;
	font-size: 60px;
	color: #EF5B48;
	text-align: center;

	max-width: 700px;
    margin: 0 auto;
	float: none;
	padding-top: 170px;
}

#hero-text-longread{
	font-family: Montserrat;
	font-size: 18px;
	line-height: 150%;
	color: #333333;
	text-align: center;


	max-width: 600px;
    margin: 0 auto;
	float: none;
	padding-bottom: 100px;
}