#cards-block{
    font-family: 'Raleway' !important; 
    margin: 0 auto;
    width: 100%;
    max-width: 1490px;
    margin-top: 144px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

#cards-img-block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#cards-text-block{
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cards-title{
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
}

.course-card{
    margin-bottom: 30px;
}


@media (max-width: 1440px) {
    #cards-block{
        margin-top: 260px;
        
    }
}