/* ----------------------------------------------------------------
	feedback
------------------------------------------------------------------*/
#feedback {
    margin-top: 200px;
}

/* Slideshow container */
.feedback-slideshow-container {
    position: relative;
    width: 100%;
    font-style: normal;
}
/* Slides */
.feedbackSlides {
    display: none;
    padding: 55px 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 203px;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}*/
.feedback_linkedin_icon_link{
    margin-left: 17px;
    margin-top: -5px;
    width: 35px;
    height: 35px;
    background: url("icons/LinkedIn.svg");
}

.feedback_linkedin_icon_link:hover{
    background: url("icons/LinkedIn_hover.svg");
}

.feedback_linkedin_icon_mob{
    margin-left: 10px;
    margin-top: -5px;
    width: 30px;
    height: 30px;
    background: url("icons/LinkedIn_mob.svg");
}

img.feedback_linkedin_icon {
    margin-top: -5px;
    width: 35px;
    height: 35px;
}

.feedback-author {
    display: flex;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.feedback-job {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    color: #F66F5D;
    margin-bottom: 5px;
}

.feedback-text {

    font-family: Montserrat;
    font-size: 18px;
    line-height: 21px;
    color: #E8E8E8;
}

#success-cases-duration{
    height: 290px;
    min-width: 90px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    color: #F66F5D;
    font-size: 18px;
    line-height: 21px;
}

div#success-cases-block {
    max-width: 800px;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
div#success-cases-blocks {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#success-cases-info-block1,#success-cases-info-block2,#success-cases-info-block3{
    text-align: left;
}
#success-cases-info-block2{
    margin-top: 36px;
    margin-bottom: 36px
}

div#success-cases-info {
    max-width: 281px;
    margin-left: 40px;
    min-height: 281px;
    width: 100%;
}
#success-cases-arrow-img{
    height: 290px;
}


div#success-cases-arrow {
    position: absolute;
    top: 50px;
    left: 270px;
}

#success-cases-arrow-mob{
    display: none;
}

#dots {
    display: flex;
    justify-content: center;
    list-style:none;
    padding:0px;
    margin-bottom: 8px;
  
  }
  #dots li {
    display: inline-block;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin: 0 20px;
    border: 2px solid #F66F5D;
    background: transparent;
    cursor: pointer;
  }
  #dots li.active {
    width: 20px;
    height: 20px;
    background:#F66F5D;
  }

  .feedback_linkedin_icon{
      margin-left: 10px;
      margin-bottom: 5px;
  }

  .slick-slider-mob.col-md-10.offset-md-1.slick-initialized.slick-slider.slick-dotted{
      display: none;
  }

  @media (max-width:991px){
    div#success-cases-arrow {
        top: 60px;
        left: 180px;
    }
}

@media (min-width:1200px) and (max-width:1440px){
    div#success-cases-arrow {
        left: 340px;
    }
}    

@media (min-width:1400px){
    div#success-cases-arrow {
        left: 370px;
    }
}  

@media (max-width:701px){
   
    #feedback {
        margin-top: 68px;
    }
    img.feedback_linkedin_icon {
        width: 30px;
        height: 30px;
    }
    img.feedback_linkedin_icon {
        margin-left: 10px;
        margin-top: 0;
        width: 20px;
        height: 20px;
    }
    #success-cases-duration{
        height: 250px;
        display: flex;
        align-items: center;
        min-width: 70px;
        margin-right: 10px;
        font-size: 14px;
        line-height: 16px;
    }
    .feedback-author {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .feedback-text {
        font-size: 14px;
        line-height: 16px;
    }
    #success-cases-info-block2{
        margin-top: 36px;
        margin-bottom: 36px
    }    
    div#success-cases-arrow {
        top: 60px;
        left: 150px;
    }
    .feedback-slideshow-container.col-md-10.offset-md-1 {
        display: none;
    }
    .slick-slider-mob.col-md-10.offset-md-1.slick-initialized.slick-slider.slick-dotted{
        display: block;
    }
    #success-cases-arrow-mob{
        display: block !important;
        width: 8px !important;
        /*position: absolute;
        display: block !important;
        left: 120px;*/
    }
    div#success-cases-info {
        margin-left: 10px;
        
    }
    
    
}

@media (min-width:320px) and (max-width:377px){

    #success-cases-arrow-mob{
            height: 220px;
            width: 100% !important;
            max-width: 8px;
        }
    
}   
@media (min-width:378px) and (max-width:701px){
    #feedback_main_title{
        line-height: 22px;
        margin-bottom: 67px;
    }

    #success-cases-arrow-mob{
        height: 250px;
        display: block !important;
        width: 100% !important;
        max-width: 7.5px;
        }
    
}   
@media (max-width:382px){

    .feedback-author {
        max-width: 150px;
    }
    
}   