/* ----------------------------------------------------------------
	feedback
------------------------------------------------------------------*/
#feedback {
    margin-top: 200px;
}

/* Slideshow container */
.feedback-slideshow-container {
    position: relative;
    width: 100%;
    font-style: normal;
}
/* Slides */
.feedbackSlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.feedback-author {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}

.feedback-course {
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #F66F5D;
}

.feedback-text {

    font-family: Montserrat;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}