@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

#offer-obtention-main-block{
    max-width: 1366px;
    width: 100%;
    display: flex;
    padding-left: 41px;
    padding-right: 41px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 100px;
    font-family: Raleway, sans-serif !important;
}

#offer-obtention-main-title{
    display: none;
}

#offer-obtention-text-block{
    display: flex;
    color: #FFFFFF;
    font-family: Raleway, sans-serif !important;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.offer-obtention-text-duration{
    color: #F66F5D !important;
    line-height: 60px;
}

img#offer-obtention-arrow1{
    max-height: 161px;
}

.offer-obtention-text{
    font-family: Raleway !important;
    white-space: nowrap;
}
#offer-obtention-text-block-mob{
    color: #FFFFFF;
    font-family: Raleway, sans-serif !important;
    display: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

div#offer-obtention-text-mob{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

#offer-obtention-img-mob{
    display: flex;
    justify-content: center;
}

#offer-obtention-text-qa{
    margin-bottom: 20px;
}

#offer-obtention-text-exp{
    margin-top: 20px;
}

@media (max-width:1245px){
    #offer-obtention-text-block{
        font-size: 36px;
    }
}

@media (max-width:995px){
    #offer-obtention-main-block{
        padding-left: 20px;
        padding-right: 30px;
    }
    
    #offer-obtention-text-block{
        font-size: 24px;
        line-height: 28px;
    }

    .offer-obtention-text-duration{
        line-height: 40px;
    }
}

@media (max-width:701px){
    #offer-obtention-arrow-mob{
        max-width: 500px;
        width: 100%;
    }
    #offer-obtention-main-block {
        max-width: 600px;
        width: 100%;
        padding-left: 29px;
        padding-right: 29px;
    }
    .offer-obtention-text-duration{
        line-height: 21px;
    }
    #offer-obtention-text-block{
        display: none;
    }
    #offer-obtention-text-block-mob{
        display: block;
    }
    #offer-obtention-main-block{
        flex-direction: column;
        
    }
}