html * {
    font-family: 'Montserrat', sans-serif;
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 

a:hover {
    color: #EF5B48;
    /*
    background-color: yellow; 
    */
  }