html * {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    /* Отменяем подчеркивание у ссылки */
    color: black;
}

a:hover {
    color: #EF5B48;
    /*
    background-color: yellow; 
    */
}

A:visited {
    color: black;
    /* Цвет посещенных ссылок */
}

.main {
    margin: 0 auto;
    /* сайт располагается по центру экрана */
    max-width: 1440px;
    /* резиновая, растягивается до значения в 1440px */
}