html * {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    /* Отменяем подчеркивание у ссылки */
    color: black;
}

a:hover {
    color: #EF5B48;
    /*
    background-color: yellow; 
    */
}

/*
A:visited {
     color: black; 
     Цвет посещенных ссылок 
}
*/
.margin-before {
    margin-top: 30px;
}

.no-display {
    display: none;
}

/* ----------------------------------------------------------------
	Go To Top
-----------------------------------------------------------------*/
#gotoTop {
    background: #F66F5D;
    display: none;
    z-index: 599;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: rgba(212, 17, 17, 0.219);
    font-size: 1.25rem;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    /*border-radius: 2px; */
}

body:not(.device-touch) #gotoTop {
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}

.stretched #gotoTop {
    bottom: 30px;
}

#gotoTop:hover {
    background-color: #F66F5D;
}


.box-title {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    color: #333333;
}




/* ----------------------------------------------------------------
	Font sizes
-----------------------------------------------------------------*/


/* title name */
h1 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

/* Block names */
h2 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    line-height: 56px;
    color: #333333;
}


/* Sub names */
h3 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    line-height: 56px;
}

/* Normal text */
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

/* Small text */
h5 {
    font-family: 'Montserrat', sans-serif;

}







@media (max-width: 575px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

    html {
        font-size: 14px;
    }

    h5 {
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 15px;
    }

    html {
        font-size: 15px;
    }

    h5 {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 16px;
    }

    html {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    html {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }
}




.iframe {background-color:rgba:(244,244,244,0.8); font:Arial Black; }






.comments {
    width: 100%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff6600;
}

.comments a {
    color: #ff6600;
}

.comments .wallkit_form {
    padding: 0 0 15px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #ff6600;
}

.comments .wallkit_form .composer {
    padding: 0;
}

.comments .pas {
    padding: 0;
}

.comments .uiBoxGray {
    background: none;
    border: 0;
}

.comments .toggleform {
    margin: 0;
    padding: 0;
}

.comments .toggleform a {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background: #ff6600;
    padding: 10px 0;
}

.comments .wallkit_form div.text_spacer {
    padding-left: 60px;
}

.comments .wallkit_form textarea {
    display: block;
    height: 42px;
    color: #ff6600;
    margin: 0;
    border: 1px solid #ff6600;
}

.comments div.connected input {
    margin: 5px;
}

.comments div.connected label {
    font-size: 11px;
    color: #ff6600;
    vertical-align: text-top;
}

.comments .uiButton,
.comments .uiButtonSuppressed:active,
.comments .uiButtonSuppressed:focus,
.comments .uiButtonSuppressed:hover {
    background: none;
    padding: 4px 10px;
}

.comments .uiButtonConfirm {
    background: #ff6600 !important;
    border: 0;
}

.comments .uiButton .uiButtonText,
.comments .uiButton input {
    text-transform: uppercase;
    padding: 1px 0 2px 2px;
}

.comments .wallkit_frame .inputsubmit-disabled {
    background: none;
    border: 0;
    color: #ff6600;
}

.comments .wallkit_post {
    border-bottom: 1px solid #ff6600;
    margin: 10px 0 5px;
}

.comments .wallkit_post .wallkit_postcontent h4 .wall_time {
    color: #ff6600;
}

.comments .wallkit_subtitle {
    padding: 3px 0;
}

.comments .wallkit_subtitle .post_counter {
    margin: 0 0 0 5px;
}

.comments .wallkit_subtitle .pager {
    padding-left: 5px;
}

.comments .pagerpro .current .pagerpro_a {
    border-bottom: 2px solid #ff6600;
}

.comments .pagerpro .pagerpro_a:hover {
    background: #ff6600;
    border-bottom: 1px solid #ff6600;
    text-decoration: none !important;
}

.comments .wallkit_subtitle {
    padding: 3px 0;
}

.comments .wallkit_subtitle .post_counter {
    margin: 0 0 0 5px;
}

.comments .wallkit_subtitle .pager {
    padding-left: 5px;
}

.comments .pagerpro .current .pagerpro_a {
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
}

.comments .pagerpro .pagerpro_a:hover {
    background: #ff6600;
    border-bottom: 1px solid #ff6600;
    text-decoration: none !important;
}