/* ----------------------------------------------------------------
	header block
------------------------------------------------------------------*/
.logo{
	position: absolute;
	width: 202px;
	height: 85px;
	left: 70px;
	top: 26px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 85px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	
	color: #EF5B48;
}

.logoQax{
	position: absolute;
	width: 162px;
	height: 85px;
	left: 41px;
	top: 15px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 85px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	letter-spacing: 0.1em;
	
	color: #F66F5D;
	
}
.logoCamp{
	position: absolute;
	width: 119px;
	height: 56px;
	left: 61px;
	top: 95px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	display: flex;
	align-items: center;
	
	color: #F66F5D;
}
.logoRectangle{
	position: absolute;
	width: 161px;
	height: 58px;
	left: 70px;
	top: 26px;
	
	border: 3px solid #F66F5D;
	box-sizing: border-box;
	transform: matrix(1, 0, 0, -1, 0, 0);

}
.sendButton{
	position: absolute;
	width: 220px;
	height: 48px;
	left: 1150px;
	top: 44px;
	
	border: 1px solid #EF5B48;
	box-sizing: border-box;
	border-radius: 30px;
}
.sendButtonText{
	position: absolute;
	width: 108px;
	height: 28px;
	left: 1206px;
	top: 54px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	
	color: #EF5B48;
}

/* ----------------------------------------------------------------
	hero image block
------------------------------------------------------------------*/
.hero-image{
	position: absolute;
	width: 1200px;
	height: 685.78px;
	left: 420px;
	top: 142px;
	background: url(../images/52362-min-scaled.jpg);
}
.hero-text{
	position: absolute;
	width: 713px;
	height: 172px;
	left: 70px;
	top: 174px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 120%;
	/* or 86px */
	display: flex;
	align-items: center;	
	color: #EF5B48;
}

.hero-text-longread{
	position: absolute;
	width: 556px;
	height: 108px;
	left: 70px;
	top: 377px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	/* or 27px */
	color: #333333;
}
/* ----------------------------------------------------------------
	cources block
------------------------------------------------------------------*/
.cources-title{
	position: absolute;
	width: 310px;
	height: 56px;
	left: 69px;
	top: 944px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 0.05em;
	
	color: #333333;
}

.cources-qa-block{
	position: absolute;
	width: 400px;
	height: 600px;
	left: 69px;
	top: 1080px;
	
	background: #A9D19F;
	/* shadow */
	
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.cources-qa-block-title{
	position: absolute;
	width: 137px;
	height: 125px;
	left: 201px;
	top: 1100px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 130%;
	/* identical to box height, or 125px */
	color: #FFFFFF;
}
.cources-qa-block-small{
	position: absolute;
	width: 400px;
	height: 441px;
	left: 69px;
	top: 1245px;
	
	background: #F8F8F8;
	border-radius: 20px;
}
.cources-qa-block-title-small{
	position: absolute;
	width: 328px;
	height: 31px;
	left: 106px;
	top: 1259px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 130%;
	/* or 31px */
	
	letter-spacing: 0.02em;
	
	color: #333333;
}
.cources-qa-text{
	position: static;
	width: 320px;
	height: 260px;
	left: 40px;
	top: 20px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 135%;
	/* or 24px */
	
	
	color: #333333;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	margin: 10px 0px;
}





.cources-ba-block{
	position: absolute;
	width: 400px;
	height: 600px;
	left: 520px;
	top: 1080px;
	
	background: #6A9DEE;
	/* shadow */
	
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.cources-ba-block-title{
	position: absolute;
	width: 129px;
	height: 125px;
	left: 656px;
	top: 1100px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 130%;
	/* identical to box height, or 125px */
	color: #FFFFFF;
}
.cources-ba-block-small{
	position: absolute;
	width: 400px;
	height: 441px;
	left: 520px;
	top: 1245px;
	
	background: #F8F8F8;
	border-radius: 20px;
}
.cources-ba-block-title-small{
	position: absolute;
	width: 200px;
	height: 31px;
	left: 621px;
	top: 1259px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 130%;
	/* or 31px */
	
	letter-spacing: 0.02em;
	
	color: #333333;
}
.cources-ba-text{
	position: static;
	width: 319px;
	height: 204px;
	left: 40px;
	top: 20px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 135%;
	/* or 24px */
	
	
	color: #333333;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	margin: 10px 0px;
}











.cources-pm-block{
	position: absolute;
	width: 400px;
	height: 600px;
	left: 971px;
	top: 1080px;
	
	/* 1 */
	
	background: #EF5B48;
	/* shadow */
	
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.cources-pm-block-title{
	position: absolute;
	width: 143px;
	height: 125px;
	left: 1100px;
	top: 1100px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 130%;
	/* identical to box height, or 125px */


	color: #FFFFFF;
}
.cources-pm-block-small{
	position: absolute;
	width: 400px;
	height: 441px;
	left: 971px;
	top: 1245px;
	
	background: #F8F8F8;
	border-radius: 20px;
}
.cources-pm-block-title-small{
	position: absolute;
	width: 190px;
	height: 31px;
	left: 1077px;
	top: 1259px;
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 130%;
	/* or 31px */
	
	
	color: #333333;
}
.cources-pm-text{
	position: static;
	width: 319px;
	height: 238px;
	left: 40px;
	top: 20px;
	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 135%;
	/* or 24px */
	
	
	color: #333333;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	margin: 10px 0px;
}


