/* ----------------------------------------------------------------
	footer
------------------------------------------------------------------*/
footer {
    background: #2C2A3F;
    margin-top: 280px;
}

#footer-top-block {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 100px;
    border: 25.5px solid #47426C;
    background: #262438;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.footer-contacts {
    padding-top: 8px;
    color: #ffffff;
    padding-bottom: 0px;
}

.footer-contatcs-item {
    display: flex;
    padding-top: 8px;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

}

#footer-years {
    font-size: 11px;
    margin: 0 auto;
}


.footer-powered img {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0px;
}

.footer-links {
    color: white;
}

.footer-box {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    
}

a#footer-telegram{
    background: url(icons/Telegram.svg);
    display: block;
    width: 22px;
    height: 19px;
    margin-right: 22px;
}

a#footer-telegram:hover{
    background: url(icons/Telegram-hover.svg);
}

a#footer-facebook{
    background: url(icons/Facebook.svg);
    display: block;
    width: 22px;
    height: 22px;
}

a#footer-facebook:hover{
    background: url(icons/Facebook-hover.svg);
}

#powered_logo{
    display: flex;
    
}

@media (max-width:991px){
    #footer-block {
        max-width: 690px;
    }
}

@media (max-width:731px){
    .footer-box {
        padding-left: 30px;
        padding-right: 57px;
        
    }
    #powered_logo-block{
        padding-left: 0;
        padding-right: 30px;
        
    }
}