/* ----------------------------------------------------------------
	header block
------------------------------------------------------------------*/
#header-block {
    height: 80px;
    background: #FAFAFA;
    width: 100%;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    align-items: center;
    text-transform: uppercase;

    color: #333333;
}

#logo {
    float: left;
    margin-top: 14px;
    margin-left: 1%;
}

#menuCources {
    float: left;
    margin-left: 12%;
    /* 184px; */
    margin-top: 22px;
}

#menuContacts {
    float: left;
    margin-left: 5%;
    /* 64px; */
    margin-top: 22px;
}

#sendButtonText:hover {
    background: #F66F5D;
    color: white;
}

#sendButtonText {
    float: right;
    margin-right: 8%;

    margin-top: 10px;
    margin-left: 2%;
    padding-top: 12px;

    border-width: 1px;
    border-style: solid;


    width: 203px;
    height: 44px;
    text-align: center;

    color: #EF5B48;

    border: 1px solid #F66F5D;
    box-sizing: border-box;
    background: #FAFAFA;


    /*filter: invert(100%);*/
}