/* ----------------------------------------------------------------
	header block
------------------------------------------------------------------*/
.header-block{
    height: 80px;
    background: #FAFAFA;
}
.logo{
    float: left;
    margin-top: 14px;
    margin-left: 14px;
}
.header-font{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    
    align-items: center;
    text-transform: uppercase;
    
    color: #333333;
}
.menuCources{
    float: left;
    margin-left: 184px;
    margin-top: 22px;
}

.menuContacts{
    float: left;
    margin-left: 64px;
    margin-top: 22px;
}
.language{
    position: absolute;
    width: 93px;
    height: 80px;
    left: 1056px;
    top: 0px;
    display: flex;
}
.sendButton{
    float: right;
    margin-right: 104px;
    margin-top: 12px;
    width: 203px;
    height: 44px;
    
    border: 1px solid #F66F5D;
    box-sizing: border-box;
    background: #FAFAFA;
}

.sendButton:hover{
    filter:saturate(4);
}

.sendButtonText{
    margin-top: 10px;
    margin-left: 32px;
       
    color: #EF5B48;
    /*filter: invert(100%);*/
}