html,body{
    overflow-y: hidden;
}
#header-block {
    display: block;
    height: 81px;
    margin-bottom: -30px;
    width: 100%;
    background: rgb(24, 25, 26);
    align-items: center;
}

iframe {
    box-shadow: none !important;
    height: 600px;
}