.info_for_student_main_block{
    max-width: 1240px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
    font-family: Raleway !important;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 50px;
    
}
dt {
    margin: 0.5em;
    display: flex;
    justify-content: flex-end;
  }
  
  dd {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.4s ease;
    background: #eee;
    padding: 0.5em;
  }
  
  div.active dd {
    max-height: 500px; /* хреновый хак, не тащите это в прод */
    opacity: 1;
  }
.stretched #wrapper {
    background-color: #2C2A3F;
}

#logo {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 3%;
}

#info_for_student_main_img{
    margin-bottom: 80px;
}

b {
    font-family: Raleway !important;
}

p {
    margin-bottom: 20px;
}

a{
    text-decoration-line: underline !important;
    color: #FFFFFF;

}

#info_for_student_steps_block{
    margin-top: 50px;
}

.info_for_student_steps_img{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
}

#info_for_student_content {
    padding-left: 27px;
    padding-right: 27px;
}

.content-wrap {
    background-color: #2C2A3F;
}
#header-block {
    display: block;
    height: 130px;
    width: 100%;
    background: #2C2A3F;
    align-items: center;
    text-transform: uppercase;
}
li {
    margin-bottom: 20px;
    list-style-type: none;
}

@media(max-width: 767px){
    .info_for_student_main_block{
        font-size: 16px;
    }
    
}