<!-- Footer
		============================================= -->
<footer>
	

		<div id="footer-block" class="row justify-content-between col-mb-30">

			<div class="col-8 col-8 col-sm-4 ml-sm-auto footer-box">
				<div class="footer-contatcs-item ">
					<a href="https://t.me/RecrutMan" id="footer-telegram" class="footer-links"
					onmouseover="this.src='images/Telegram-hover.svg'; this.color='#F66F5D'" onmouseout="this.src='images/Telegram.svg'; this.color='#ffffff'">
					Telegram
					<img src="images/Telegram.svg" alt="Telegram" id="Telegram-img">
				    </a>
			    </div>
			    <div class="footer-contatcs-item ">
				    <a href="tel:+380933647038" class="footer-links">
				    +38 (093) 364 70 38
			        </a>
				</div>
				<div class="footer-contatcs-item ">
					<a href="mailto:info@qax-camp.com.ua" class="footer-links">
					info@qax-camp.com.ua
					</a>
				</div>
			</div>

			<div class="col-4 col-sm-4 ml-sm-auto footer-box">

				<div class="footer-powered d-flex align-items-center">
					<a href="http://i93364mv.beget.tech/"><img src="images/Powered.svg"></a>
				</div>
			</div>

			<div class="col-12 col-sm-12 footer-box">
				<div class="footer-years d-flex align-items-center">
					<div id="footer-years">2020-2021 © QAX Camp</div>
				</div>
			</div>


	</div>
</footer><!-- #footer end -->