<!-- Footer
		============================================= -->

<footer>
	

		<div id="footer-top-block" class="row justify-content-between col-mb-30">

			
				<div class="footer-contatcs-item ">
					<a target="_blank" href="https://t.me/RecrutMan" id="footer-telegram" class="footer-links">
						<!--<img src="images/Telegram.svg" alt="Telegram" id="Telegram-img">-->
				    </a>
			    </div>
				<div class="footer-contatcs-item ">
					<a target="_blank" href="https://www.facebook.com/qax.camp/"  class="footer-links" id="footer-facebook">
						<!--<img src="images/Facebook.svg" alt="Facebook" id="Facebook-img">-->
					</a>
			    </div>
			    <div class="footer-contatcs-item ">
				    <a target="_blank" href="tel:+380933647038" class="footer-links">
				    +38 (093) 364 70 38
			        </a>
				</div>
				<div class="footer-contatcs-item ">
					<a target="_blank" href="mailto:info@qax-camp.com.ua" class="footer-links"> 
					info@qax-camp.com.ua
					</a>
				</div>
				<div class="col-4 col-sm-4  footer-box" id="powered_logo-block" >

					<div class="footer-powered d-flex align-items-center" id="powered_logo">
						<a target="_blank" href="https://qax.com.ua/ "><img src="images/Powered.svg" alt="powered"></a>
					</div>
				</div>

			</div>
			<div id="footer-bottom-block">
					<div class="col-12 col-sm-12 footer-box">
						<div class="footer-years d-flex align-items-center">
							<div id="footer-years">2020-2021 © QAX Camp</div>
						</div>
					</div>
			</div>
	

</footer><!-- #footer end -->