<!-- Footer
		============================================= -->
<footer>
	<div class="container">

		<div id="footer-block" class="row justify-content-between col-mb-30">

			<div class="col-sm-3 offset-md-0">
				<div class="footer-contatcs-item ">
					<a href="https://t.me/RecrutMan" id="footer-telegram" class="footer-links"
					onmouseover="this.src='images/Telegram-hover.svg'" onmouseout="this.src='images/Telegram.svg'">
					Telegram
					<img src="images/Telegram.svg" alt="Telegram" id="Telegram-img">
				    </a>
			    </div>
			    <div class="footer-contatcs-item ">
				    <a href="tel:+380933647038" class="footer-links">
				    +38 (093) 364 70 38
			        </a>
				</div>
				<div class="footer-contatcs-item ">
					<a href="mailto:info@qax-camp.com.ua" class="footer-links">
					info@qax-camp.com.ua
					</a>
				</div>
			</div>

			<div class="col-sm-3 offset-md-0">
				<div class="footer-years d-flex align-items-center">
					<div id="footer-years">2020-2021 © QAX Camp</div>
				</div>
			</div>


			<div class="col-sm-3 offset-md-0">

				<div class="footer-powered d-flex align-items-center">
					<img src="images/Powered.svg">
				</div>
			</div>

		</div>
	</div>
</footer><!-- #footer end -->