<!-- ====================================== -->
<section>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<div class="write_to_us-block" id="write_to_us">

		<div id="write_to_us-block-small">
			<div>
				<h3 class="write_to_us-title-form">Записатися на курс</h3>
			</div>
			<form novalidate>
				<div class="row col-mb-50 mb-0 row-cols-1" id="div-name">
					<div class="form-group col-12 col-sm-12 pr-0 pl-0">
						<input type="text" id="name_input" name="fname" class="write_to_us-field" placeholder="Ім'я*"
							required onblur="check_name()" maxlength="50">
						<div id='error_message_name_empty' class="write_to_us-error-message no-display">
							Це поле є обов'язковим
						</div>
						<div id='error_message_name_short' class="write_to_us-error-message no-display">
							Недостатньо. Давай ще :)
						</div>
						<div id='error_message_name_long' class="write_to_us-error-message no-display">
							Воу воу, забагато
						</div>
						<div id='error_message_name_only_numbers' class="write_to_us-error-message no-display">
							Must only contain letters (no special characters)
						</div>
					</div>
				</div>
				<div class="row col-mb-50 mb-0 row-cols-2" id="div-phone-email">
					<div class="form-group col-12  pr-0 pl-0 mb-0" id="div-phone">
						<input type="tel" id="phone_input" name="fphone" class="write_to_us-field"
						 required onblur="check_phone()">
						<div id='error_message_phone_empty' class="write_to_us-error-message no-display">
							Це поле є обов'язковим
						</div>
						<div id='error_message_phone_short' class="write_to_us-error-message no-display">
							Недостатньо цифр. Давай ще :)
						</div>

						<div id='error_message_phone_plugin' class="write_to_us-error-message no-display">
							Щось не так :(
						</div>
					</div>

					<div class="form-group col-12  ml-sm-auto pr-0 pl-0 mb-0" id="div-email">
						<input type="text" id="email_input" name="fphone" class="write_to_us-field" placeholder="Email"
							onblur="check_email()" maxlength="317">
						<div id='error_message_email_invalid' class="write_to_us-error-message no-display">
							Невірний формат email адреси. Правильний формат: username@gmail.com
						</div>
						<div id='error_message_email_long' class="write_to_us-error-message no-display">
							Воу воу, забагато
						</div>
					</div>
				</div>
				<div class="row col-mb-50 mb-0 row-cols-1" id="div-comment">
					<div class="form-group col-12 col-sm-12 pr-0 pl-0 pb-0">
						<span class="textarea" role="textbox" contenteditable id="comment_input"
							onblur="check_comment()" ></span>
						<div id="comment_line" class="line"></div>
						<div id='error_message_comment_long' class="write_to_us-error-message no-display">
							Воу воу, забагато
						</div>
					</div>
				</div>

				<div class="row col-mb-50 mb-0 row-cols-1" id="div-data-button">
					<div class="form-group d-flex justify-content-md-between  col-12 col-sm-12 pr-0 pl-0">
						<h5 class="write_to_us-personal-data">Погоджуюсь відправити мої контакти
							менеджеру QAX Camp. Конфіденційно. Без спаму</h5>
						<button class="write_to_us-button-send" id="button_send">
							<!-- <div class="write_to_us-button-send-text" id="button_text"></div>Відправити</div> -->
							Відправити
						</button>
					</div>
				</div>

			</form>
		</div>
	</div>

	<div class="no-display" id="write_to_us-thanks-block">
		<div class="write_to_us-block-thanks" id="write_to_us-thanks">
			<h2 class="write_to_us-thanks-top-text">Дякуємо !</h2>
			<div>
				<img src="images/sent.svg" alt="Done" id="write_to_us-done-img">
			</div>
			<h4 class="write_to_us-thanks-bottom-text">До скорого зв'язку :)</h4>
		</div>
	</div>
</section>